<div class="card col-sm-10 mx-auto mt-5 px-0">
  <div class="card-header bg-white">
    <h2>アカウント情報</h2>
  </div>
  <div class = "sns-link">
    <ul class="profile-links">
      <li>
       <%= image_tag @user.user_icon.url %>
      </li>
      <li class="profile-name">
        <%= @user.username %>
      </li>
      <% if @user.twitter_url.present? %>
        <li class="profile-link">
          <%= link_to @user.twitter_url, target: :_blank do %>
            <i class="fa-brands fa-twitter"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.linkedin_url.present? %>
        <li class="profile-link">
          <%= link_to @user.linkedin_url, target: :_blank do %>
            <i class="fa-brands fa-linkedin"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.facebook_url.present? %>
        <li class="profile-link">
          <%= link_to @user.facebook_url, target: :_blank do %>
            <i class="fa-brands fa-facebook"></i>
          <% end %>
        </li>
      <% end %>
      <% if @user.blog_url.present? %>
        <li class="profile-link">
          <%= link_to @user.blog_url, target: :_blank do %>
            <i class="fa-solid fa-link"></i>
          <% end %>
        </li>
      <% end %>
      <li class="profile-introduction">
        <%= @user.description %>
      </li>
  <div class="col-sm-4">
    <% if user_signed_in? && current_user.id == @user.id %>
    <div class="d-flex flex-column"><%= link_to 'プロフィールを編集する', edit_user_path(current_user.id)%>
      <% if @stayed_country.present? %>
        <div class="d-flex flex-column"><%= link_to 'マップを編集する',  edit_stayed_country_path(current_user.id)%>
      <% else %>
        <div class="d-flex flex-column"><%= link_to 'マップを作成する',  new_stayed_country_path %>      
      <% end %>
    <% end %>
    </div>
  </div>
</div>  
